* {
  color:#333;
}

body {
  background:#b3e5fc;
  font-family: 'Roboto', sans-serif;
}


table {
  border-collapse:collapse;
  font-size:12px;
}

tr td {
  border:1px solid black;
  padding:5px;
  vertical-align:top;
}
td table {
  border:0px;
}

th {
  background: #E4DEAF;
  border: 1px solid #7A7829;
  color:#333;
  padding:5px;
}

span.number {
  color:red;
}

span.boolean {
  color:green;
}

span.string {
  color:blue;
}

#page {
  width:960px;
  margin:0px auto;
  background:white;
  padding:10px;
  box-shadow:0px 1px 3px #999;
}

textarea {
  width:100%;
}

.mapKey {
  margin-left : 10px;
}

.arrayValue {
  margin-right:5px;
}
.arrayValue:after {
  content : ","
}

.arrayValue:last-of-type:after {
  content : ""
}

.map {
  padding:5px;
}

.map .map, .mapRow .mapRow {
  margin-left: 10px;
}
