* {
  color:#333;
}

body {
  background:#b3e5fc;
  font-family: 'Roboto', sans-serif;
}

#page {
  width:960px;
  margin:0px auto;
  background:white;
  padding:10px;
  box-shadow:0px 1px 3px #999;
}

textarea {
  width:100%;
}

.mapKey {
  margin-left : 10px;
}

.mapKey, .mapValue, .arrayValue, .array {
  display:inline-block;
}

.arrayValue {
  margin-right:5px;
}
.arrayValue:after {
  content : ","
}

.arrayValue:last-of-type:after {
  content : ""
}

.map {
  padding:5px;
}

.map .map, .mapRow .mapRow {
  margin-left: 10px;
}
