* {
  color:#333;
}

body {
  background:#fff;
  font-family: 'Roboto', sans-serif;
}


table {
  border-collapse:collapse;
  font-size:12px;
    width:100%;
    background:white;
    border-spacing:0;
}

textarea {
  width: 100%;
  font-size: 16px;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
    border:1px solid #ddd;
    font-family:monospace;
}

.main tr td {
  border:1px solid #ddd;
  padding:2px;
  vertical-align:top;
}
.main td table {
  border:0px;
}

.main th {
  color:#333;
  padding:5px;
}
.main td span {
    margin:5px;
}
span.number {
  background-color:#fbd9dd;
  border-color:#f6abb4;
}

span.boolean {
  background-color:#e0f8e6;
  border-color:#7ee39a;
}

span.string {
  background-color:#d7edff;
  border-color:#82c6ff;
}

.object {
  background: #dbb9ed;
  border: 1px solid #b267d9;
  padding:5px;
}

span.type {
  padding:5px;
  display:inline-block;
  border-width:1px;
  border-style:solid;
  color:#333;
}
span.null {
  background-color : #f7eadd;
  border-color:#e7c198;
}

span.undefined {
  background-color : #f4daf3;
  border-color:#db8cda;
}

.array {
  background:#fbfadb;
  border:1px solid #f2f08f;
  padding:5px;
}

#page {
  max-width:1200px;
  margin:0px auto;
  padding:10px;
}

td.key {
  text-align:right;
  margin-right:5px;
  padding:5px;
  font-weight:bold;
  color:#666;
  width:150px;
  text-overflow:ellipsis;
  overflow:hidden;
}

.message {
  padding:10px;
  background:#fcc2b7;
  color:#8c1b07;
  border:1px solid #dd2a0a;
}

.previousValues {
  vertical-align:top;
  padding-left:20px;
  width:200px;
}

.previousValues ul {
  list-style:none;
}

li.previousValue {
  border:1px solid #ccc;
  padding:10px;
  cursor:pointer;
}

span.previousValueJSON {
  width:100px;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
  display:inline-block;
}
